<%- include("header", {title:"AI :: 미디어 :: 공지사항", cssFiles:["NewsStyle.css"], jsFiles:[ "header.js", "subMenu.js", "mGnb.js", "search.js"]}) %>
    <div id="container">
        <div class="subCont1">
            <div class="center">
                <div class="subMenuWrap">
                    <h2>미디어</h2>
                    <ul class="subMenu">
                        <li class="on"><a href="/media/news">공지사항</a></li>
                        <li><a href="/media/gallery">갤러리</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="subCont2">
            <div class="center">
                <div class="subContentsWrap">
                    <h3>공지사항</h3>
                    <div>
                        <div class="newsWrap">
                            <ul class="newsboard boardTop">
                                <li class="idx">NO</li>
                                <li class="title">제목</li>
                                <li class="author">글쓴이</li>
                                <li class="date">작성일자</li>
                            </ul>
                            <% if(data.length > 0) { %>
                                <% data.forEach((el) => { %>
                                    <ul class="newsboard boardMid">
                                        <li class="idx"><%- el.num %></li>
                                        <li class="title"><a href="/media/news/<%- el.num %>"><%- el.title %></a></li>
                                        <li class="author"><%- el.
                                            userNickName %></li>
                                        <li class="date">2023-04-01</li>
                                    </ul>
                                <% }) %>
                            <% } else { %>
                                <!-- 데이터베이스에 검색한 데이터값이 없을 때 -->
                                <div>검색결과가 없습니다.</div>
                            <% }%>
                        </div>
                        <div class="newsboard boardBot">
                            <div class="writeBtn">
                                <% if (login) { %>
                                    <% if(login.role === "ADMIN"){%>
                                        <a href="/media/posting">글쓰기</a>
                                    <% } %>
                                <% } %>
                                <a href="/media/news">전체글 보기</a>
                            </div>
                            <form id="searchForm" action="/search" method="get">
                                <div class="searchWrap">
                                    <select name="search">
                                        <option value="title">제목</option>
                                        <option value="context">내용</option>
                                    </select>
                                    <input type="text" name="inputText" id="inputText" placeholder="검색어를 입력하세요"/>
                                    <button type="submit" id="searchBtn"><span class="material-symbols-outlined">search</span></button>
                                </div>
                            </form>
                            <nav class="paginationWrap">
                                <ul class="pagination">
                                    <!-- 이전 버튼 생성 작업 -->
                                    <% if (blockStart > totalBlock) { %>
                                    <li><a href="?page=<%- blockStart - 1 %>"><span class="material-symbols-outlined">chevron_left</span></a></li>
                                    <% } %>
                                    <% for(let i = blockStart; i <= blockEnd; i++) { %>
                                        <% if (pageNumber == i) { %>
                                            <!-- 현재 보고 있는 페이지 번호인 경우 활성화 -->
                                            <li class="on"><a href="?page=<%- i %>"><%- i %></a></li>
                                        <% } else { %>
                                            <li><a href="?page=<%- i %>"><%- i %></a></li>
                                        <% } %>
                                    <% } %>
                                    <% if (blockNum < totalBlock) { %>
                                        <!-- 페이징블록 시작번호가 그룹의 총 갯수보다 크다면 -->
                                        <li><a href="?page=<%- blockEnd + 1 %>"><span class="material-symbols-outlined">chevron_right</span></a></li>
                                    <% } %>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("footer") %>
